<div class="container-custom col-8 col-lg-4 mx-auto my-5">
  <div class="p-4">
    <h2 class="text-center mb-4">Olvidaste tu contraseña</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Enter your email' %>
      </div>

      <hr>
      <div class="d-flex align-items-center justify-content-between">
        <%= f.submit "Recuperar contraseña", class: 'btn btn-primary' %>
        <%= link_to 'Volver', new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>
